[submodule "Marmot/vendor/spdlog"]
	path = Marmot/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Marmot/vendor/GLFW"]
	path = Marmot/vendor/GLFW
	url = https://github.com/uri1996/glfw
[submodule "Marmot/vendor/imgui"]
	path = Marmot/vendor/imgui
	url = https://github.com/uri1996/imgui
